*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 75%;
  margin: auto;
}

.flex{
  display: flex;
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

.position-relative{
  position: relative;
}

nav{
  padding: 1rem;
}

nav.flex{
  justify-content: space-between;
  align-items: center;
}

.gender a{
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.action i{
  padding: 0 0.1rem;
}

.logo img{
  height: 30px;
  padding: 0;
}

article.product{
  width: calc((100% / 3) -2rem);
  padding: 1rem;
  margin-bottom: 1.5rem;
}

article img{
  height: 600px;

}

.offer,
.like,
.detail{
  position: absolute;
}

.like{
  top: 30px;
  right: 0;
  background-color: white;
  padding: .75rem 1rem;
}

.offer{
  bottom: 40px;
  left: 0;
  background-color: red;
  color: white;
  font-size: 0.5rem;
  font-weight: bold;
  padding: .25rem .7rem;
}

.detail{
  bottom: 40px;
  background-color: green;
  color: white;
  font-size: 0.5rem;
  font-weight: bold;
  padding: .25rem .7rem;
}

.detail .first-tag{
  left: 0;
}

.second-tag{
  left: 65px;
}

.brand{
  font-size: 0.9rem;
}

.product-name{
  text-transform: uppercase;
  font-weight: bold;
}

.sale-price{
  font-size: .9rem;
  color: red;
}

.regular-price{
  font-size: .9rem;
  text-decoration: line-through;
}

footer section{
  justify-content: space-between;
}

section a{
  text-decoration: none;
  color: white;
  font-size: .8rem;
  padding-right: 0.2rem;
}

.links i{
  font-size: 1.5rem;
}

header{
  position: fixed;
  width: 100%;
  background-color: #ff6900;
  box-shadow: 1px 1px 5px black;
  color: white;
  z-index: 1;
}

main{
  padding-top: 120px;
}

footer{
  padding: 3rem 0;
  width: 100%;
  background-color: #020100;
  color: white;
}